@import "../../colors.scss";

.buttonsContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
  display: flex;
  justify-content: space-evenly;
  height: 76px;
  background-color: #ffffff;
  .icon {
    margin-top: 22px;
    font-size: 30px;
    color: $graymde;
  }
}
