//colors
$creammde: #E6DFCF;
$orangemde: #CB7862;
$darkbluemde: #004368;
$lightbluemde: #D3E3E3;
$graymde: #847C7B;
$blackmde: #161616;
$whitemde: #F8F8F8;
$purplemde: #CFD0E4;
$yellowmde: #F3E3B3;
$lightorangemde: #F0AF9E;
$backcolormde: #F2EEE7;
$goldmde: #CBBA62;
$redmde: #EC8F8F;
$greenmde: #99D698;


//Spectral 500 & 700 (weight)
$spectralmde: "Spectral serif";

//Atkinson 400 & 700 (weight)
// $atkinsonmde: "Atkinson Hyperlegible sans-serif";
$atkinsonmde: "Atkinson Hyperlegible";

//inter 400 (weight)
$intermde: "Inter sans-serif";